# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/libraries/Maven__com_alibaba_cloud_spring_cloud_alibaba_nacos_config_2_1_0_RELEASE.xml
.idea/libraries/Maven__com_alibaba_cloud_spring_cloud_starter_alibaba_nacos_config_2_1_0_RELEASE.xml
.idea/libraries/Maven__net_logstash_logback_logstash_logback_encoder_5_3.xml
auth-9999/src/test/
auth-9999/target/auth-9999-1.0-SNAPSHOT.jar.original
auth-9999/target/classes/META-INF/
auth-9999/target/classes/bootstrap.yml
auth-9999/target/classes/logback-spring.xml
auth-9999/target/generated-sources/
commons-api/src/main/resources/
commons-api/src/test/
commons-api/target/generated-sources/
gateway-3344/src/test/
gateway-3344/target/classes/bootstrap.yml
gateway-3344/target/classes/logback-spring.xml
gateway-3344/target/generated-sources/
provider-9001/src/test/
provider-9001/target/classes/bootstrap.yml
provider-9001/target/generated-sources/
provider-9002/src/test/
provider-9002/target/classes/bootstrap.yml
provider-9002/target/generated-sources/
