<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zgm.cloud.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.zgm.cloud.entity.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <id column="user_name" property="userName" jdbcType="VARCHAR"/>
        <id column="pass_word" property="passWord" jdbcType="VARCHAR"/>
        <id column="role" property="role" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from `user` where user_name = #{userName}
    </select>
</mapper>